html {
  background-image: url(gilbertthedancingspider.gif);
  background-repeat: repeat-y repeat-x;
  background-size: 100px;
  background-clip: padding-box;
  display: flex;
  align-content: center;
  /*background-color: #ff5683;*/
}
body {
  background-color: white;
  margin:26% 17%;

}
#wrapper{
  background-color: rebeccapurple;
  border: 5px solid black;

}
button:hover{
  border:2px solid black;
}
#inputoperators{
  min-width: 266px;
  display: flex;
  justify-content: center;
  background:linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);

}

section#numberss{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 75%;

  font-family: 'Erica One', cursive;

}
section#numberss button{
  width:100%;

}
button {
  margin 2%;
  font-size: 3rem;
  font-family: 'Erica One', cursive;
}
.row1, .row2, .row3, .row4, .row5   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

  }

section#operatorss{
  display:flex;
  flex-direction: column;
  flex: 0 0 14%;
}

#clearButton{
  /*width: 81.3%;*/
}
.output{
  min-width: 100px;
  min-height: 60px;
  border: 3px solid black;
  border-radius: 10px;
  background: linear-gradient(45deg, black -23%, white);
  background-color: white;
  box-shadow: 0px -4px 10px 6px;
  font-size: 3em;
  color: rgb(18, 163, 174);

}
#operator6 {
  width=100%
}

@media screen and (min-width: 500px){

body {
    margin: 17% 25%;

}
#inputoperators{
  .min-width: 380px;
  padding: 3%;
}
}

@media screen and (min-width: 600px){

body {
    margin: 17% 25%;

}

/*#operators{
  display: flex;
flex-wrap: wrap;
flex-direction: column;
width: 40%;*/


/*button {
  width:40%;
}*/
